# ENV
**/.python-version
**/.vscode
**/.DS_Store
# Generated
/target/
/bindings/ex-feature-ffi/.cargo/
/bindings/ex-feature-ffi/.generated/
/bindings/ex-feature-wasm/pkg/
/bindings/ex-feature-wasm/node_modules/
/platforms/android/example/.idea/
/platforms/android/out/
/platforms/ios/lib/ExFeature/Sources/ExFeature/ExFeature.swift
/platforms/ios/lib/ExFeature/ExFeatureFFI.xcframework
/build/
.DS_Store
